body {
  margin: 0;

  padding-top: 60px;
  padding-left: 45px;
  
  font-family: 'Arial';
  overflow-x: hidden;
}

.main-container {
  max-width: 1800px;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 1333px) {
  .main-container {
    grid-template-columns: repeat(5, 1fr);
  }

}

@media (max-width: 1140px) {
  .main-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 950px) {
  .main-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 550px) {
  .main-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 350px) {
  .main-container {
    grid-template-columns: 1fr;
  }
}

.product-container {
  height: 290px;
  margin-bottom: 20px;
  display: grid;
  grid-template-rows: 120px 1fr;
}

.product-image-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  margin-top: 5px;
  max-width: 50%;
  max-height: 100px;
}

.product-details-container {
  display: grid;
  grid-template-rows: 1fr 50px;
  align-items: start;
  justify-items: start;
}

.product-details-sectionA {
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.product-name {
  font-size: 15px;
  height: 45px;
}

.product-rating-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.product-rating {
  height: 15px;
}

.rating-participants {
  color: rgb(1, 124, 182);
}

.product-price {
  font-size: 13px;
  font-weight: bold;
}

.product-quantity-select {
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  padding: 2px 0 2px 4px;
  border: solid 1px rgb(213, 217, 217);
  box-shadow: -1px 2px 5px gray;
}

.product-quantity-select:focus {
  outline: solid gold 2px;
}

.product-details-sectionB {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.addToCartButton {
  margin-top: 10px;
  background-color: rgb(252, 210, 0);
  border: 1px solid rgb(252, 210, 0);
  padding: 5px 5px;
  width: 70%;
  border-radius: 30px;
  cursor: pointer;
}

.addToCartButton:hover {
  background-color: rgb(209, 176, 8);
}

/* hamburger menu */
.hamburger-menu-list {
  position: fixed;
  right: 0px;
  margin-top: 0px;

  background-color: rgb(19, 25, 33);
  color: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.hamburger-menu-list-returns-and-orders{
  color: rgb(206, 196, 196);
  cursor: default;
}

.hamburger-menu-list-cart:hover {
  color: rgb(206, 196, 196);
  cursor: pointer;
}